

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    
   
}

.navbar{
    transition: background-color 0.3s ease;
}

.navbar.scrolled{
    background-color: #e2a9a9;
}

header{
  background-color: #f8f9fa;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}



.navs{
    font-family: "Poppins", sans-serif;
    margin-right: 40px;
}
li a{
    margin-right: 20px;
   color: rgb(10, 12, 14) !important;
}

li a:hover{
    color: rgb(136, 131, 131) !important;
}

.btn-1{
    background-color: rgb(68, 67, 67);
    color: rgb(211, 220, 196);
    height: 25px;
    border-radius: 0 !important;
     width: 95px;
     font-size: 14px;
     border: none;
}



 .prod-img{
     /* width: 200px; */
   
     width: 100%;
     height: auto;
 
 }
 
 .new-arrival-img{
     width: 200px;
 }
 
 /* hero text-style */
 .img-text, h2{
    font-size: 34px;
    font-weight: 600;
   color: rgb(181, 175, 175);
}

/* footer link style */

a{
    color: rgba(235, 235, 228, 0.571);
    text-decoration: none;
}
 
 